extends layout

block content
    h1 #{title}
    h3 User List
    ul.list-group
        each user, i  in users
            li.list-group-item
                a(href='/user/'+user._id)= user.first_name + ' ' + user.last_name